<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head');%>
</head>

<body>
  <!-- MAIN CONTENT ========================================= -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <!-- 로그인 -->
        <div class="sign__container">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                로그인
              </h4>
            </div> <!-- / .panel-heading -->

            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="sign-in__email">ID</label>
                  <input type="email" class="form-control" id="id">
                </div>
                <div class="form-group">
                  <label for="sign-in__password">패스워드</label>
                  <input type="email" class="form-control" id="password">
                </div>
                <button type="button" class="btn btn-block btn-primary" onClick="location.href='/dashboard'">
                  로그인
                </button>
              </form>
            </div> <!-- / .panel-body -->

          </div> <!-- / .panel -->

        </div> <!-- / .sign__conteiner -->
      </div>
    </div>
  </div> <!-- / .container-->
</body>

</html>