<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head');%>
</head>


<script>
  function msg() {
    alert("사용가능한 아이디 입니다.");
  }
</script>

<body>
  <!-- NAVBAR ======================================== -->
  <%- include('../partials/navbar');%>
    <!-- WRAPPER ===================================== -->
    <div class="wrapper">
      <!-- SIDEBAR =================================== -->
      <%- include('../partials/sidebar');%>
        <!-- MAIN CONTENT ========================================= -->
      <script>
        window.onload = function(){
            target = document.getElementById('myFile');
            target.addEventListener('change', function(){
                fileList = "";
                for(i = 0; i < target.files.length; i++){
                    fileList += target.files[i].name + '<br>';
                }
                target2 = document.getElementById('showFiles');
                target2.innerHTML = fileList;
            });
        }
      </script>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="page-header">
              사용자 등록
            </h3>
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-xs-12">
            <!-- Basic form -->
            <div class="panel panel-default">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="subject">사용자명</label>
                  <input type="username" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="user_id">사용자ID</label>
                  <div class="in-line">
                    <input type="userid" class="form-control" id="user_id">
                    <input type="submit" class="btn btn-default"  onclick="msg()" value="중복확인">
                  </div>
                </div>
          
                <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password">
                </div>			

                <button type="submit" class="btn btn-primary">등록</button>
              </div>
            </div>
          </div>
        </div> 
      </div> <!-- / .container-fluid -->
    </div><!-- / .wrapper -->
  </body>
</html>